{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block css %}


{% endblock %}
{% block contenido %}
 

    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <h2>Historial De Compras</h2>
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for aux in compras %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
									<img class="img-fluid" src="{{ aux.producto.imagen.url }}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
									{{aux.producto.nombre}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>${{aux.total|intcomma}}</p>
                                    </td>
                                    <td class="quantity-box">{{aux.cantidad}}</td>
                                    <td class="add-pr">
                                        
                                            {{aux.fecha|date:"Y-m-d"}}
                                        
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->



    {% endblock %}
    {% block js %}


    {% endblock %}