{% extends 'core/base.html' %}
{% load static %}
 

{% block contenido %}    
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'core/images/portada2.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate mb-5 text-center">
				<p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url 'index' %}">Inicio <i class="fa fa-chevron-right"></i></a></span> <span>Sobre nosotros <i class="fa fa-chevron-right"></i></span></p>
				<h2 class="mb-0 bread">Sobre Nosotros</h2>
			</div>
		</div>
	</div>
</section>


<section class="ftco-intro">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-4 d-flex">
				<div class="intro d-lg-flex w-100 ftco-animate">
					<div class="icon">
						<span class="flaticon-support"></span>
					</div>
					<div class="text">
						<h2>Soporte en línea 24/7</h2>
						<p>Obtén asistencia ininterrumpida en cualquier momento del día con nuestro soporte 24/7 confiable.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex">
				<div class="intro color-1 d-lg-flex w-100 ftco-animate">
					<div class="icon">
						<span class="flaticon-cashback"></span>
					</div>
					<div class="text">
						<h2>Garantía de devolución de dinero</h2>
						<p>Tu satisfacción garantizada: devuelve tu compra y recupera tu dinero con nuestra garantía de devolución.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex">
				<div class="intro color-2 d-lg-flex w-100 ftco-animate">
					<div class="icon">
						<span class="flaticon-free-delivery"></span>
					</div>
					<div class="text">
						<h2>Envío gratuito y devolución</h2>
						<p>Disfruta de envío y devolución gratuitos en todas tus compras con nosotros, sin costo adicional.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


    <section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'core/images/aboutMe.png' %});">
				</div>
				<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
		  <div class="heading-section">
			  <span class="subheading">Desde 2023</span>
			<h2 class="mb-4">Conócenos: Luchando por los Animales</h2>

			<p>Nosotros somos una Fundación de Animales sin Fines de Lucro comprometida con la protección y el bienestar animal. Nuestra misión es brindar un refugio seguro y amoroso para los animales en situación de vulnerabilidad, además de promover la adopción responsable y fomentar la conciencia sobre el respeto hacia todas las formas de vida. </p>
			<p>Trabajamos incansablemente para garantizar el cuidado, la atención veterinaria y la alimentación adecuada de nuestros protegidos, y buscamos crear un mundo donde todos los animales puedan vivir dignamente, libres de maltrato y abandono. ¡Únete a nosotros en esta noble causa!</p>
			<p class="year">
				<strong class="number" data-number="115">0</strong>
				<span>Animales que han recibido nuestro apoyo.</span>
			</p>
		  </div> 
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url({% static 'core/images/categoria1.jpg' %});"></div>
						<h3>Alimento gatos</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url({% static 'core/images/categoria2.jpeg' %});"></div>
						<h3>Alimento perros</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url({% static 'core/images/categoria3.jpg' %});"></div>
						<h3>Correas</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url({% static 'core/images/categoria4.jpg' %});"></div>
						<h3>Identificaciones</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url({% static 'core/images/categoria5.jpg' %} );"></div>
						<h3>Ropita</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url({% static 'core/images/categoria6.jpeg' %});"></div>
						<h3>Bandanas</h3>
					</div>
				</div>

			</div>
		</div>
	</section>

  
	<section class="ftco-section testimony-section img" style="background-image: url({% static 'core/images/fondo1.jpeg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading">Testimonio</span>
					<h2 class="mb-3">Clientes Satisfechos</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Muy lejos, detrás de las montañas de palabras, lejos de los países Vokalia y Consonantia, viven los textos ciegos.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'core/images/person_1.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Gerente de Marketing</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Muy lejos, detrás de las montañas de palabras, lejos de los países Vokalia y Consonantia, viven los textos ciegos.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'core/images/person_2.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Gerente de Marketing</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Muy lejos, detrás de las montañas de palabras, lejos de los países Vokalia y Consonantia, viven los textos ciegos.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'core/images/person_3.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Gerente de Marketing</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Muy lejos, detrás de las montañas de palabras, lejos de los países Vokalia y Consonantia, viven los textos ciegos.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Gerente de Marketing</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
								<div class="text">
									<p class="mb-4">Muy lejos, detrás de las montañas de palabras, lejos de los países Vokalia y Consonantia, viven los textos ciegos.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url({% static 'core/images/person_2.jpg' %})"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Gerente de Marketing</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" data-number="3000">0</strong>
							<span>Nuestros Clientes Satisfechos</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" data-number="115">0</strong>
							<span>Animales ayudados</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" data-number="100">0</strong>
							<span>Cantidad de productos</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
					<div class="block-18 py-4 mb-4">
						<div class="text align-items-center">
							<strong class="number" data-number="1">0</strong>
							<span>Nuestras Sucursales</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

{% endblock %}