{% extends 'core/base.html' %}
{% load crispy_forms_tags %}


{% load static %}

{% block css%}


{% endblock %}

{% block contenido %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'core/images/portada2.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>Settings <i class="fa fa-chevron-right"></i></span></p>
        <h2 class="mb-0 bread">Mi perfil</h2>
      </div>
    </div>
  </div>
</section>

<div class="container bootstrap snippets bootdey">
  <div class="row">
    <!-- left column -->

    <!-- edit form column -->
    <div class="col-md-12 personal-info mt-3">

      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-dar btn-lg">Editar Perfil</button>
        </div>
      </form>

      <div class="text-center mt-4">

          <button onclick="eliminarPerfil()" class="btn btn-danger">Eliminar Perfil</button>

      </div>


      <div class="text-center mt-4">
        {% if suscriptor.es_suscriptor %}
        <form method="post" action="{% url 'cancelar_suscripcion' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-lg">Cancelar Suscripción</button>
        </form>
        <h3 class="mt-4">Tu cuenta está suscrita. Se ha aplicado un descuento del 5% en tu última donación. Esta será cobrada mensualmente.</h3>
        <h3>Descuento actual: {{ suscriptor.descuento }}%</h3>

        {% endif %}

      </div>
    </div>
  </div>
</div>


{% endblock %}